<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/cloudabout.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>About our project</h1>
           </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">Let's talk cloud</h2>
                    <br/><br/>
                    <h5 class="description">
                        Consomi Tounsi is a cloud based product management platform dedicated for selling 100%
                        Tunisian products.
                    </h5>
                    <br/>
                    <h5 class="description">
                        The first goal of the project was to provide virtualized computing resources on demand. These
                        resources are servers, storage spaces or containers.
                    </h5>
                    <br/>
                    <h5 class="description">
                        Also, the project proposes a solution to minimize provisioning time, eliminate repetitive tasks and
                        reduce mistakes & errors risk.
                    </h5>
                    <br/>
                    <h5 class="description">
                        Finally, the project provides the deployment environment required to run the web application with
                        centralized management and orchestration for all the deployment environments.
                    </h5>
                    <br/>
                    <br>
                    <h5 class="description">
                        Here's what our product will ensure you :
                    </h5>
                </div>
            </div>
            <br/><br/>
            <div class="row">
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-minimal-up"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">High Availability</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-settings-gear-65"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Low Maintenance</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-sound-wave"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Rapid Elasticity</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-palette"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Shop Customization</h4>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
