<div class="wrapper">
    <div class="page-header page-header-small" data-parallax="true" style="background-image: url('./assets/img/cloud2.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section section-dark text-center">
        <div class="container">
            <h2 class="title">Our Team</h2>
            <div class="row">
                <div class="col-md-3">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="./assets/img/chams2.jpg" alt="..."></a>
                        </div>
                        <div class="card-block">
                                <div class="author">
                                    <h4 class="card-title"><b>BALTI</b> Chams Eddine</h4>
                                </div>
                            <div class="card-footer text-center">
                                <a href="https://github.com/chamsBLT" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-github"></i></a>
                                <a href="https://www.linkedin.com/in/chams-eddine-balti/" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="./assets/img/amine.jpg" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <div class="author">
                                <h4 class="card-title"><b>ABBESSi</b> Mohamed Amine</h4>
                            </div>
                            <div class="card-footer text-center">
                                <a href="https://github.com/abbessiamine" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-github"></i></a>
                                <a href="https://www.linkedin.com/in/amine-abbessi-2467281a4/" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="./assets/img/ahmed.jpg" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <div class="author">
                                <h4 class="card-title"><b>AISSAOUI</b> Ahmed</h4>
                            </div>
                            <div class="card-footer text-center">
                                <a href="https://github.com/mohamedahmedaissaoui" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-github"></i></a>
                                <a href="https://www.linkedin.com/in/mohamed-ahmed-aissaoui-95a1211b2" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="./assets/img/firas.jpg" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <div class="author">
                                <h4 class="card-title"><b>BOUCHEDAKH</b> Firas</h4>
                            </div>
                            <div class="card-footer text-center">
                                <a href="https://github.com/Bouchedakh-Firas" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-github"></i></a>
                                <a href="https://www.linkedin.com/in/firasbouchedakh/" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="./assets/img/islem.jpg" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <div class="author">
                                <h4 class="card-title"><b>TALEB</b> Islem</h4>
                            </div>
                            <div class="card-footer text-center">
                                <a href="https://github.com/islemtaleb" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-github"></i></a>
                                <a href="#" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="./assets/img/raed.jpg" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <div class="author">
                                <h4 class="card-title"><b>OMRI</b> Raed</h4>
                            </div>
                            <div class="card-footer text-center">
                                <a href="https://github.com/raedomri" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-github"></i></a>
                                <a href="https://www.linkedin.com/in/raed-omri-15820b205/" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="./assets/img/siwar.jpg" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <div class="author">
                                <h4 class="card-title"><b>HASSINE</b> Siwar</h4>
                            </div>
                            <div class="card-footer text-center">
                                <a href="https://github.com/SiwarHassine" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-github"></i></a>
                                <a href="https://www.linkedin.com/in/siwar-hassine-0329a11b7/" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

