<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/7.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <h1 class="presentation-title">Consomi Tounsi</h1>
                </div>

                <h2 class="presentation-subtitle text-center"><b>Shop local.  Spend local.  Enjoy local.</b></h2>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
    </div>
    <div class="main">



      <div class="section section-notifications" id="notifications">
          <div class="container">
              <div class="tim-title">
                  <h3 style="text-align: center"><b>Our departments</b></h3>
              </div>
          </div>
          <app-department></app-department>
      </div>


        <div class="section section-dark">
            <div class="container">
                <div class="row example-page">
                    <div class="col-md-6 text-center" routerLinkActive="active">
                        <a [routerLink]="['/about']">
                            <img src="./assets/img/examples/about.JPG" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
                            <a [routerLink]="['/about']" class="btn btn-outline-neutral btn-round">About the project</a>
                        </a>
                    </div>

                    <div class="col-md-6 text-center" routerLinkActive="active">
                        <a [routerLink]="['/team']">
                            <img src="./assets/img/examples/team.JPG" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
                            <a [routerLink]="['/team']" class="btn btn-outline-neutral btn-round">Our team</a>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
