<div *ngFor="let rayon of listRayons">
    <div class="card mb-3">
        <img *ngIf="rayon.typeRayon==='normal'" class="card-img-top" src="assets/img/red.png" alt="Card image cap" style="height: 15px">
        <img *ngIf="rayon.typeRayon==='refrigere'" class="card-img-top" src="assets/img/blue.jpg" alt="Card image cap" style="height: 15px">
        <div class="card-body">
            <h5 class="card-title" style="float: right;font-size: 18px">{{ rayon.evenement}}</h5>
            <h5 class="card-title" style="font-size: 20px; text-align: center"><b>{{ rayon.nom }}</b></h5>
            <br>

            <div *ngFor="let product of rayon.produits" class="card text-center" style="width: 18rem;display: inline-block;margin-right: 18px">
                <div>
                    <img class="card-img" src="assets/img/search.png" alt="Card image cap" style="height: 80px;width: 80px;align-items: center;justify-content: center;">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center">{{product.nom}}</h5>
                        <p class="card-text">{{product.nom}} description will be placed here.</p>
                        <br>
                        <a href="#" class="btn btn-primary" style="float:none;margin:auto;">Check it out</a>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <br>
</div>
